<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add User</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>


<form th:action="@{/}" th:object="${user}" method="post">
    <div>
        <label for="name">First Name:</label>
        <input type="text" id="name" th:field="*{name}" placeholder="Enter first name" required/>
    </div>
    <div>
        <label for="lastname">Last Name:</label>
        <input type="text" id="lastname" th:field="*{lastname}" placeholder="Enter last name" required/>
    </div>
    <div>
        <label for="age">Age:</label>
        <input type="number" id="age" th:field="*{age}" placeholder="Enter age" required/>
    </div>
    <div>
        <button type="submit">Add User</button>
    </div>
</form>

<div>
    <a th:href="@{/}">Back to Users List</a>
</div>

</body>
</html>
